<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/style.css">
        <title>Traveler App - Chats Overview</title>
    </head>
    <body>
        <header class="tl-PageHeader">
            <ol>
                <li>
                    <a href="/">
                        Home
                    </a>
                </li>
                <li>
                    <label class="tl-NavigationToggle">
                        <img src="/img/man-user.svg" alt="menu-toggle">
                        <input type="checkbox" name="menu-toggle" id="menu-toggle">
                    </label>
                </li>
            </ol>
        </header>

        <nav class="tl-Navigation" id="tl-Navigation">
            <ol>
                <li>
                    <a href="/matches_overview">Matches overview</a>
                </li>
                <li>
                    <a href="/my_profile">My profile</a>
                </li>
                <li>
                    <a href="/log_out">Log out</a>
                </li>
            </ol>
        </nav>

        <main class="tl-ChatsPage">
            <h1 class="tl-ChatsPage__page-title">Chats</h1>
            <ul class="tl-ChatsPage__chats">
                <% if (openChatsData && openChatsData.length) { %>
                    <% openChatsData.forEach(function (openChat) { %>
                        <li class="tl-ChatsPage__chat">
                            <a class="tl-ChatsPage__link-container" href="/chat/<%= openChat._id %>">
                                <img src="<%= openChat.profileImageUrl %>" alt="<%= openChat.fullName %>" class="tl-ChatsPage__profile-image">
                                <h2 class="tl-ChatsPage__profile-name"><%= openChat.fullName %></h2>
                            </a>
                            <form action="/delete_chat/<%= openChat._id %>" method="POST">
                                <button
                                    type="submit"
                                    class="tl-ChatsPage__delete-chat"
                                ></button>
                            </form>
                        </li>
                    <% }) %>
                <% } else { %>
                    <span>No chats found!</span>
                    <a href="/matches_overview">Click here to search for matches and start chatting!</a>
                <% } %>
            </ul>
        </main>
        <script src="/index.js"></script>
    </body>
</html>