<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/style.css">
        <title>Traveler App - Chat with <%= chatData.chatWithName %></title>
    </head>

    <body>
        <main class="tl-Chat">
            <header class="tl-Chat__header">
                <a href="/match_profile/<%= chatData.chatWithId %>">
                    Back to <%= chatData.chatWithName %>
                </a>
            </header>

            <section class="tl-Chat__content-wrapper">
                <div class="tl-Chat__content">
                    <% chatData.messages.forEach(function (message) { %>
                        <div class="tl-Chat__message-wrapper tl-Chat__message-<%= message.sentByWho %>">
                            <div class="tl-Chat__text-wrapper">
                                <p><%= message.messageText %></p>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </section>

            <section class="tl-Chat__footer">
                <form action="/send_message/<%= chatData.messages.nextMessageId %>" class="tl-Chat__chat-form" method="POST">
                    <textarea
                        name="message"
                        id="message"
                        class="tl_Chat__chat-input"
                    ></textarea>
                    <button type="submit" class="tl-Chat__chat-send-button"></button>
                </form>
            </section>
        </main>
    </body>
</html>