<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/style.css">
        <title>Traveler App - Matches Overview</title>
    </head>
    <body>
        <header class="tl-PageHeader">
            <ol>
                <li>
                    <a href="/">
                        Home
                    </a>
                </li>
                <li>
                    <label class="tl-NavigationToggle">
                        <img src="/img/man-user.svg" alt="menu-toggle">
                        <input type="checkbox" name="menu-toggle" id="menu-toggle">
                    </label>
                </li>
            </ol>
        </header>

        <nav class="tl-Navigation" id="tl-Navigation">
            <ol>
                <li>
                    <a href="/chats">Chats</a>
                </li>
                <li>
                    <a href="/my_profile">My profile</a>
                </li>
                <li>
                    <a href="/log_out">Log out</a>
                </li>
            </ol>
        </nav>

        <main class="tl-MatchesOverviewPage">
            <header class="tl-TitleSection">
                <h1>Matches Overview</h1>
                <p>Here you can view people who you have been matched with, based on your profile.</p>
            </header>

            <% overviewData.forEach(function (profile) { %>
                <section class="tl-Card tl-Card--BriefTravelerInformation">
                    <a href="/match_profile/<%= profile._id %>">
                        <header>
                            <h2><%= profile.fullName %> (<%= profile.ownGender %><% if (profile.age) { %>, <%= profile.age %><% }%>)</h2>
                            <% if (profile.profileImages && profile.profileImages.length) { %>
                                <img src="<%= profile.profileImages[0] %>" alt="Matched traveler user: <%= profile.fullName %>">
                            <% } %>
                        </header>
                        <p><%= profile.description %></p>
                        <section class="tl-MainTravelInformation">
                            <% if (profile.favouriteHolidayDestination || profile.likesToHike || profile.favouriteOverallTravelTime) { %>
                                <h3>Most important travel information about <%= profile.firstName %> <% if (profile.age) { %>(<%= profile.age %>) <% } %></h3>
                                <ol>
                                    <% if (profile.favouriteHolidayDestination && profile.favouriteHolidayDestination.length) { %>
                                        <li>
                                            <h4 class="tl-FieldTitle">Favourite destination:</h4>
                                            <span class="tl-FieldValue"><%= profile.favouriteHolidayDestination %></span>
                                        </li>
                                    <% } %>
                                    <% if (profile.likesToHike && profile.likesToHike.length) { %>
                                        <li>
                                            <h4 class="tl-FieldTitle">Likes to hike:</h4>
                                            <span class="tl-FieldValue"><%= profile.likesToHike %></span>
                                        </li>
                                    <% } %>
                                    <% if (profile.favouriteOverallTravelTime && profile.favouriteOverallTravelTime.length) { %>
                                        <li>
                                            <h4 class="tl-FieldTitle">Favourite overall travel time (in weeks):</h4>
                                            <span class="tl-FieldValue"><%= profile.favouriteOverallTravelTime %></span>
                                        </li>
                                    <% } %>
                                </ol>
                            <% } %>
                        </section>
                    </a>
                    <footer>
                        <a class="tl-CTA-Button" href="/match_profile/<%= profile._id %>">Show more about <%= profile.firstName %></a>
                    </footer>
                </section>
            <% }) %>
        </main>
        <script src="/index.js"></script>
    </body>
</html>