<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/style.css">
        <title>Traveler App - <%= profileData.fullName %></title>
    </head>
    <body>
        <header class="tl-PageHeader">
            <ol>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <label class="tl-NavigationToggle">
                        <img src="/img/man-user.svg" alt="menu-toggle">
                        <input type="checkbox" name="menu-toggle" id="menu-toggle">
                    </label>
                </li>
            </ol>
        </header>

        <nav class="tl-Navigation" id="tl-Navigation">
            <ol>
                <li>
                    <a href="/matches_overview">Matches overview</a>
                </li>
                <li>
                    <a href="/chats">Chats</a>
                </li>
                <li>
                    <a href="/my_profile">My profile</a>
                </li>
                <li>
                    <form action="/log_out" method="POST">
                        <button type="submit">Log out</button>
                    </form>
                </li>
            </ol>
        </nav>

        <main class="tl-MatchProfilePage">
            <section class="tl-Card tl-Card--MatchProfileCard">
                <header>
                    <h1><%= profileData.fullName %> (<%= profileData.age %>)</h1>
                </header>

                <img src="<%= profileData.profileImage %>" alt="Matched traveler user">
                <p class="tl-ProfileDescription"><%= profileData.description %></p>

                <ol class="tl-FullProfileInformation">
                    <li class="tl-Field">
                        <h2 class="tl-Field__title">Has traveled to</h2>
                        <span class="tl-Field__value">
                            <% profileData.hasTraveledTo.forEach(function (destination, i) { %>
                                <% if (i !== (profileData.hasTraveledTo.length - 1)) { %>
                                    <%= destination %>,
                                <% } else { %>
                                    <%= destination %>
                                <% } %>
                            <% }) %>
                        </span>
                    </li>
                    <li class="tl-Field">
                        <h2 class="tl-Field__title">Favourite holiday destination visisted</h2>
                        <span class="tl-Field__value"><%= profileData.favouriteHolidayDestination %></span>
                    </li>
                    <!-- This needs to be a select box, which can be multiple -->
                    <li class="tl-Field">
                        <h2 class="tl-Field__title">Favourite holiday type</h2>
                        <span class="tl-Field__value"><%= profileData.favouriteHolidayDestination %></span>
                    </li>
                    <li class="tl-Field">
                        <h2 class="tl-Field__title">Plans holidays ahead</h2>
                        <span class="tl-Field__value"><%= profileData.plansHolidaysAhead %></span>
                    </li>
                    <li class="tl-Field">
                        <h2 class="tl-Field__title">Likes to hike</h2>
                        <span class="tl-Field__value"><%= profileData.likesToHike %></span>
                    </li>
                    <li class="tl-Field">
                        <h2 class="tl-Field__title">Likes to travel trans-atlantic more, than within the continent</h2>
                        <span class="tl-Field__value"><%= profileData.prefersInterContinental %></span>
                    </li>
                    <li class="tl-Field">
                        <h2 class="tl-Field__title">Destinations Henk wants to travel to in the near future</h2>
                        <span class="tl-Field__value">
                            <% profileData.wantsToVisitSoon.forEach(function (destination, i) { %>
                                <% if (i !== (profileData.wantsToVisitSoon.length - 1)) { %>
                                    <%= destination %>,
                                <% } else { %>
                                    <%= destination %>
                                <% } %>
                            <% }) %>
                        </span>
                    </li>
                    <li class="tl-Field">
                        <h2 class="tl-Field__title">Has visited this much holiday destinations</h2>
                        <span class="tl-Field__value"><%= profileData.hasVisitedThisMuchDestinations %></span>
                    </li>
                    <li class="tl-Field divider-bottom">
                        <h2 class="tl-Field__title">Favourite overall travel time (in weeks)</h2>
                        <span class="tl-Field__value"><%= profileData.favouriteOverallTravelTime %></span>
                    </li>
                    <li class="tl-Field divider-bottom">
                        <h2 class="tl-Field__title">Wants to travel with you as soon as possible</h2>
                        <span class="tl-Field__value"><%= profileData.wantsToTravelAsSoonAsPossible %></span>
                    </li>
                    <li class="tl-Field">
                        <h2 class="tl-Field__title">Wants to marry</h2>
                        <span class="tl-Field__value"><%= profileData.wantsToMarry %></span>
                    </li>
                    <li class="tl-Field">
                        <h2 class="tl-Field__title">Foremost relationship motivation</h2>
                        <span class="tl-Field__value"><%= profileData.foremostRelationshipMotivation %></span>
                    </li>
                    <li class="tl-Field">
                        <h2 class="tl-Field__title">Wants to, or does already, have children</h2>
                        <span class="tl-Field__value"><%= profileData.wantsToOrAlreadyHasChildren %></span>
                    </li>
                    <li class="tl-Field">
                        <h2 class="tl-Field__title">Drinks alcohol</h2>
                        <span class="tl-Field__value"><%= profileData.drinksAlcohol %></span>
                    </li>
                    <li class="tl-Field">
                        <h2 class="tl-Field__title">Smokes</h2>
                        <span class="tl-Field__value"><%= profileData.smokes %></span>
                    </li>
                    <li class="tl-Field">
                        <h2 class="tl-Field__title">Likes to be in nature</h2>
                        <span class="tl-Field__value"><%= profileData.likesToBeInNature %></span>
                    </li>
                    <li class="tl-Field">
                        <h2 class="tl-Field__title">Finds this most important in a relation</h2>
                        <span class="tl-Field__value"><%= profileData.mostImportantInRelationShip %></span>
                    </li>
                    <li class="tl-Field">
                        <h2 class="tl-Field__title">Favourite music genre</h2>
                        <span class="tl-Field__value"><%= profileData.favouriteMusicGenre %></span>
                    </li>
                    <li class="tl-Field">
                        <h2 class="tl-Field__title">Yearly earns</h2>
                        <span class="tl-Field__value"><%= profileData.yearlyEarns %></span>
                    </li>
                    <li class="tl-Field">
                        <h2 class="tl-Field__title">Lives in</h2>
                        <span class="tl-Field__value"><%= profileData.livesIn %></span>
                    </li>
                    <li class="tl-Field">
                        <h2 class="tl-Field__title">Job title</h2>
                        <span class="tl-Field__value"><%= profileData.jobTitle %></span>
                    </li>
                    <li class="tl-Field">
                        <h2 class="tl-Field__title">Length (in cm's)</h2>
                        <span class="tl-Field__value"><%= profileData.lengthInCm %></span>
                    </li>
                </ol>

                <footer>
                    <a href="/chat/1" class="tl-CTA-Button">
                        Chat with <%= profileData.firstName %>
                    </a>
                </footer>
            </section>
        </main>
        <script src="/index.js"></script>
    </body>
</html>