<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/style.css">
        <title>Traveler App - My Profile / Edit</title>
    </head>

    <body>
        <header class="tl-PageHeader">
            <ol>
                <li>
                    <a href="/">
                        Home
                    </a>
                </li>
                <li>
                    <label class="tl-NavigationToggle">
                        <img src="/img/man-user.svg" alt="menu-toggle">
                        <input type="checkbox" name="menu-toggle" id="menu-toggle">
                    </label>
                </li>
            </ol>
        </header>

        <nav class="tl-Navigation" id="tl-Navigation">
            <ol>
                <li>
                    <a href="/matches_overview">Matches overview</a>
                </li>
                <li>
                    <a href="/chats">Chats overview</a>
                </li>
                <li>
                    <form action="/log_out" method="POST">
                        <button type="submit">Log out</button>
                    </form>
                </li>
            </ol>
        </nav>

        <main class="tl-MyProfilePage">
            <h1>Hi <%= profileData.firstName %>!</h1>
            <span>Here you can adjust your profile.</span>
            <form action="/save_edited_profile" method="POST" class="tl-Card tl-Card--MyProfileFormCard" enctype="multipart/form-data">
                <fieldset class="tl-MyProfilePage__subject">
                    <legend>Travel</legend>

                    <div class="tl-MyProfilePage__question">
                        <label>
                            <span class="tl-RequiredFieldTitle">To which destinations have you traveled already?</span>
                            <small>Please separate with comma's.</small>
                            <input
                                type="text"
                                name="hasTraveledTo"
                                required
                                placeholder="Dubai, Paris, Morocco, etc."
                                <% if (profileData.hasTraveledTo !== undefined && profileData.hasTraveledTo !== '' ) { %>
                                    value = "<%= profileData.hasTraveledTo %>"
                                <% } %>
                            >
                        </label>
                    </div>

                    <div class="tl-MyProfilePage__question">
                        <label>
                            <span class="tl-RequiredFieldTitle">What is your favourite holiday destination, you have visited?</span>
                            <input
                                type="text"
                                name="favouriteHolidayDestination"
                                required
                                placeholder="Paris"
                                <% if (profileData.favouriteHolidayDestination !== undefined && profileData.favouriteHolidayDestination !== '' ) { %>
                                    value="<%= profileData.favouriteHolidayDestination %>"
                                <% } %>
                            >
                        </label>
                    </div>

                    <div class="tl-MyProfilePage__question">
                        <label for="favouriteHolidayTypesRoundtrip">What is, or are, your favourite holiday type(s)?</label>
                        <label for="favouriteHolidayTypesRoundtrip">
                            <span>Roundtrips</span>
                            <input
                                type="checkbox"
                                name="favouriteHolidayTypes"
                                id="favouriteHolidayTypesRoundtrip"
                                value="Roundtrip"
                                <% if (profileData.favouriteHolidayTypes !== undefined && profileData.favouriteHolidayTypes !== []) { %>
                                    <% profileData.favouriteHolidayTypes.forEach(function (type) { %>
                                        <% if (type === "Roundtrip") { %>
                                            <%= checked="checked" %>
                                        <% } %>
                                    <% }) %>
                                <% } %>
                            >
                        </label>

                        <label for="favouriteHolidayTypesFamily">
                            <span>Travelling with family</span>
                            <input
                                type="checkbox"
                                name="favouriteHolidayTypes"
                                id="favouriteHolidayTypesFamily"
                                value="Family"
                                <% if (profileData.favouriteHolidayTypes !== undefined && profileData.favouriteHolidayTypes !== []) { %>
                                    <% profileData.favouriteHolidayTypes.forEach(function (type) { %>
                                        <% if (type === "Family") { %>
                                            <%= checked="checked" %>
                                        <% } %>
                                    <% }) %>
                                <% } %>
                            >
                        </label>

                        <label for="favouriteHolidayTypesBike">
                            <span>Bike holidays</span>
                            <input
                                type="checkbox"
                                name="favouriteHolidayTypes"
                                id="favouriteHolidayTypesBike"
                                value="Bike"
                                <% if (profileData.favouriteHolidayTypes !== undefined && profileData.favouriteHolidayTypes !== []) { %>
                                    <% profileData.favouriteHolidayTypes.forEach(function (type) { %>
                                        <% if (type === "Bike") { %>
                                            <%= checked="checked" %>
                                        <% } %>
                                    <% }) %>
                                <% } %>
                            >
                        </label>

                        <label for="favouriteHolidayTypesHike">
                            <span>Hike holidays</span>
                            <input
                                type="checkbox"
                                name="favouriteHolidayTypes"
                                id="favouriteHolidayTypesHike"
                                value="Hike"
                                <% if (profileData.favouriteHolidayTypes !== undefined && profileData.favouriteHolidayTypes !== []) { %>
                                    <% profileData.favouriteHolidayTypes.forEach(function (type) { %>
                                        <% if (type === "Hike") { %>
                                            <%= checked="checked" %>
                                        <% } %>
                                    <% }) %>
                                <% } %>
                            >
                        </label>


                        <label for="favouriteHolidayTypesBackPacking">
                            <span>Backpacking</span>
                            <input
                                type="checkbox"
                                name="favouriteHolidayTypes"
                                id="favouriteHolidayTypesBackPacking"
                                value="Backpacking"
                                <% if (profileData.favouriteHolidayTypes !== undefined && profileData.favouriteHolidayTypes !== []) { %>
                                    <% profileData.favouriteHolidayTypes.forEach(function (type) { %>
                                        <% if (type === "Backpacking") { %>
                                            <%= checked="checked" %>
                                        <% } %>
                                    <% }) %>
                                <% } %>
                            >
                        </label>

                        <label for="favouriteHolidayTypesBeach">
                            <span>Beach / Sun</span>
                            <input
                                type="checkbox"
                                name="favouriteHolidayTypes"
                                id="favouriteHolidayTypesBeach"
                                value="Beach"
                                <% if (profileData.favouriteHolidayTypes !== undefined && profileData.favouriteHolidayTypes !== []) { %>
                                    <% profileData.favouriteHolidayTypes.forEach(function (type) { %>
                                        <% if (type === "Beach") { %>
                                            <%= checked="checked" %>
                                        <% } %>
                                    <% }) %>
                                <% } %>
                            >
                        </label>

                        <label for="favouriteHolidayTypesWinter">
                            <span>Winter Sports</span>
                            <input
                                type="checkbox"
                                name="favouriteHolidayTypes"
                                id="favouriteHolidayTypesWinter"
                                value="Winter"
                                <% if (profileData.favouriteHolidayTypes !== undefined && profileData.favouriteHolidayTypes !== []) { %>
                                    <% profileData.favouriteHolidayTypes.forEach(function (type) { %>
                                        <% if (type === "Winter") { %>
                                            <%= checked="checked" %>
                                        <% } %>
                                    <% }) %>
                                <% } %>
                            >
                        </label>
                    </div>

                    <div class="tl-MyProfilePage__question">
                        <label>
                            <span class="tl-RequiredFieldTitle">Do you plan your holidays far ahead?</span>
                            <select name="plansHolidaysAhead" required>
                                <option value="" selected="selected" disabled hidden>Select a value</option>
                                <option
                                    value="Often"
                                    <% if (profileData.plansHolidaysAhead === "Often") { %>
                                        <%= selected="selected" %>
                                    <% } %>
                                >
                                    Often
                                </option>
                                <option
                                    value="Sometimes"
                                    <% if (profileData.plansHolidaysAhead === "Sometimes") { %>
                                        <%= selected="selected" %>
                                    <% } %>
                                >
                                    Sometimes
                                </option>
                                <option
                                    value="No"
                                    <% if (profileData.plansHolidaysAhead === "No") { %>
                                        <%= selected="selected" %>
                                    <% } %>
                                >
                                    No
                                </option>
                            </select>
                        </label>
                    </div>

                    <div class="tl-MyProfilePage__question">
                        <label>
                            <span class="tl-RequiredFieldTitle">Do you like to hike?</span>
                            <select name="likesToHike" required>
                                <option value="" selected="selected" disabled hidden>Select a value</option>
                                <option
                                    value="Yes"
                                    <% if (profileData.likesToHike === "Yes") { %>
                                        <%= selected="selected" %>
                                    <% } %>
                                >
                                    Yes
                                </option>
                                <option
                                    value="Sometimes"
                                    <% if (profileData.likesToHike === "Sometimes") { %>
                                        <%= selected="selected" %>
                                    <% } %>
                                >
                                    Sometimes
                                </option>
                                <option
                                    value="No"
                                    <% if (profileData.likesToHike === "No") { %>
                                        <%= selected="selected" %>
                                    <% } %>
                                >
                                    No
                                </option>
                            </select>
                        </label>
                    </div>

                    <div class="tl-MyProfilePage__question">
                        <label>
                            <span class="tl-RequiredFieldTitle">Do you like to travel inter-continental more, than within the continent?</span>
                            <select name="prefersInterContinental" required>
                                <option value="" selected="selected" disabled hidden>Select a value</option>
                                <option
                                    value="Yes"
                                    <% if (profileData.prefersInterContinental === "Yes") { %>
                                        <%= selected="selected" %>
                                    <% } %>
                                >
                                    Yes
                                </option>
                                <option
                                    value="Sometimes"
                                    <% if (profileData.prefersInterContinental === "Sometimes") { %>
                                        <%= selected="selected" %>
                                    <% } %>
                                >
                                    Sometimes
                                </option>
                                <option
                                    value="No"
                                    <% if (profileData.prefersInterContinental === "No") { %>
                                        <%= selected="selected" %>
                                    <% } %>
                                >
                                    No
                                </option>
                            </select>
                        </label>
                    </div>

                    <div class="tl-MyProfilePage__question">
                        <label>
                            <span class="tl-RequiredFieldTitle">To which destinations do you want to travel to, in the near future?</span>
                            <small>Please separate with comma's.</small>
                            <input
                                type="text"
                                name="wantsToVisitSoon"
                                required
                                placeholder="New-Zealand, China, etc."
                                <% if (profileData.wantsToVisitSoon !== undefined && profileData.wantsToVisitSoon !== '' ) { %>
                                    value = "<%= profileData.wantsToVisitSoon %>"
                                <% } %>
                            >
                        </label>
                    </div>

                    <div class="tl-MyProfilePage__question">
                        <label>
                            <span class="tl-RequiredFieldTitle">How much holiday destinations have you visited?</span>
                            <input
                                type="number"
                                name="hasVisitedThisMuchDestinations"
                                min="0"
                                required
                                placeholder="20"
                                <% if (profileData.hasVisitedThisMuchDestinations !== undefined && profileData.hasVisitedThisMuchDestinations !== '' ) { %>
                                    value = "<%= profileData.hasVisitedThisMuchDestinations %>"
                                <% } %>
                            >
                        </label>
                    </div>

                    <div class="tl-MyProfilePage__question">
                        <label>
                            <span class="tl-RequiredFieldTitle">What is your favourite overall travel time (in weeks)?</span>
                            <input
                                type="number"
                                name="favouriteOverallTravelTime"
                                min="0"
                                required
                                placeholder="3"
                                <% if (profileData.favouriteOverallTravelTime !== undefined && profileData.favouriteOverallTravelTime !== '' ) { %>
                                    value = "<%= profileData.favouriteOverallTravelTime %>"
                                <% } %>
                            >
                        </label>
                    </div>

                    <div class="tl-MyProfilePage__question">
                        <label>
                            <span>Do you want to travel as soon as possible with your match?</span>
                            <select name="wantsToTravelQuickly">
                                <option value="" selected="selected" disabled hidden>Select a value</option>
                                <option
                                    value="Yes"
                                    <% if (profileData.wantsToTravelQuickly === "Yes") { %>
                                        <%= selected="selected" %>
                                    <% } %>
                                >
                                    Yes
                                </option>
                                <option
                                    value="No"
                                    <% if (profileData.wantsToTravelQuickly === "No") { %>
                                        <%= selected="selected" %>
                                    <% } %>
                                >
                                    No
                                </option>
                            </select>
                        </label>
                    </div>
                </fieldset>

                <fieldset class="tl-MyProfilePage__subject">
                    <legend>Personal information</legend>

                    <div class="tl-MyProfilePage__question">
                        <label>
                            <span>Upload a new profile image of yourself:</span>
                            <small>This can be either a .png, .jpg or .jpeg file.</small>
                            <input
                                type="file"
                                name="profileImages"
                                multiple
                                accept=".png, .jpg, .jpeg"
                            >
                        </label>
                    </div>

                    <div class="tl-MyProfilePage__question">
                        <label>
                            <span class="tl-RequiredFieldTitle">Please write a description, that you want to be shown on your profile!</span>
                            <textarea
                                name="description"
                                required
                            ><% if (profileData.description !== undefined && profileData.description !== '' ) { %><%= profileData.description %><% } %></textarea>
                        </label>
                    </div>

                    <div class="tl-MyProfilePage__question">
                        <label>
                            <span>Do you want to marry, eventually?</span>
                            <select name="wantsToMarry">
                                <option value="" selected="selected" disabled hidden>Select a value</option>
                                <option
                                    value="Yes"
                                    <% if (profileData.wantsToMarry === "Yes") { %>
                                        <%= selected="selected" %>
                                    <% } %>
                                >
                                    Yes
                                </option>
                                <option
                                    value="Maybe"
                                    <% if (profileData.wantsToMarry === "Maybe") { %>
                                        <%= selected="selected" %>
                                    <% } %>
                                >
                                    Maybe
                                </option>
                                <option
                                    value="No"
                                    <% if (profileData.wantsToMarry === "No") { %>
                                        <%= selected="selected" %>
                                    <% } %>
                                >
                                    No
                                </option>
                            </select>
                        </label>
                    </div>

                    <div class="tl-MyProfilePage__question">
                        <label>
                            <span>What is the foremost reason that you want a relationship?</span>
                            <input
                                type="text"
                                name="foremostRelationshipMotivation"
                                placeholder="Being able to travel the world with that someone"
                                <% if (profileData.foremostRelationshipMotivation !== undefined && profileData.foremostRelationshipMotivation !== '' ) { %>
                                    value = "<%= profileData.foremostRelationshipMotivation %>"
                                <% } %>
                            >
                        </label>
                    </div>

                    <div class="tl-MyProfilePage__question">
                        <label>
                            <span>Do you want, or already have, children?</span>
                            <select name="wantsToOrAlreadyHasChildren">
                                <option value="" selected="selected" disabled hidden>Select a value</option>
                                <option
                                    value="Yes, I have them"
                                    <% if (profileData.wantsToOrAlreadyHasChildren === "Yes, I have them") { %>
                                        <%= selected="selected" %>
                                    <% } %>
                                >
                                    Yes, I have them
                                </option>
                                <option
                                    value="Yes, I want them"
                                    <% if (profileData.wantsToOrAlreadyHasChildren === "Yes, I want them") { %>
                                        <%= selected="selected" %>
                                    <% } %>
                                >
                                    Yes, I want them
                                </option>
                                <option
                                    value="Maybe"
                                    <% if (profileData.wantsToOrAlreadyHasChildren === "Maybe") { %>
                                        <%= selected="selected" %>
                                    <% } %>
                                >
                                    Maybe
                                </option>
                                <option
                                    value="No"
                                    <% if (profileData.wantsToOrAlreadyHasChildren === "No") { %>
                                        <%= selected="selected" %>
                                    <% } %>
                                >
                                    No
                                </option>
                            </select>
                        </label>
                    </div>

                    <div class="tl-MyProfilePage__question">
                        <label>
                            <span>Do you drink alcohol?</span>
                            <select name="drinksAlcohol">
                                <option value="" selected="selected" disabled hidden>Select a value</option>
                                <option
                                    value="Yes, often"
                                    <% if (profileData.drinksAlcohol === "Yes, often") { %>
                                        <%= selected="selected" %>
                                    <% } %>
                                >
                                    Yes, often
                                </option>
                                <option
                                    value="Yes, sometimes"
                                    <% if (profileData.drinksAlcohol === "Yes, sometimes") { %>
                                        <%= selected="selected" %>
                                    <% } %>
                                >
                                    Yes, sometimes
                                </option>
                                <option
                                    value="No"
                                    <% if (profileData.drinksAlcohol === "No") { %>
                                        <%= selected="selected" %>
                                    <% } %>
                                >
                                    No
                                </option>
                            </select>
                        </label>
                    </div>

                    <div class="tl-MyProfilePage__question">
                        <label>
                            <span>Do you smoke?</span>
                            <select name="smokes">
                                <option value="" selected="selected" disabled hidden>Select a value</option>
                                <option
                                    value="Yes, often"
                                    <% if (profileData.smokes === "Yes, often") { %>
                                        <%= selected="selected" %>
                                    <% } %>
                                >
                                    Yes, often
                                </option>
                                <option
                                    value="Yes, sometimes"
                                    <% if (profileData.smokes === "Yes, sometimes") { %>
                                        <%= selected="selected" %>
                                    <% } %>
                                >
                                    Yes, sometimes
                                </option>
                                <option
                                    value="No"
                                    <% if (profileData.smokes === "No") { %>
                                        <%= selected="selected" %>
                                    <% } %>
                                >
                                    No
                                </option>
                            </select>
                        </label>
                    </div>

                    <div class="tl-MyProfilePage__question">
                        <label>
                            <span class="tl-RequiredFieldTitle">Do you like to be in nature?</span>
                            <select name="likesToBeInNature" required>
                                <option value="" selected="selected" disabled hidden>Select a value</option>
                                <option
                                    value="Yes"
                                    <% if (profileData.likesToBeInNature === "Yes") { %>
                                        <%= selected="selected" %>
                                    <% } %>
                                >
                                    Yes
                                </option>
                                <option
                                    value="No"
                                    <% if (profileData.likesToBeInNature === "No") { %>
                                        <%= selected="selected" %>
                                    <% } %>
                                >
                                    No
                                </option>
                            </select>
                        </label>
                    </div>

                    <div class="tl-MyProfilePage__question">
                        <label>
                            <span>What do you find the most important in a relationship?</span>
                            <input
                                type="text"
                                name="mostImportantInRelationShip"
                                placeholder="Trust"
                                <% if (profileData.mostImportantInRelationShip !== undefined && profileData.mostImportantInRelationShip !== '' ) { %>
                                    value = "<%= profileData.mostImportantInRelationShip %>"
                                <% } %>
                            >
                        </label>
                    </div>

                    <div class="tl-MyProfilePage__question">
                        <label>
                            <span>What kind of music genre, do you listen to most often?</span>
                            <input
                                type="text"
                                name="favouriteMusicGenre"
                                placeholder="Hardstyle"
                                <% if (profileData.favouriteMusicGenre !== undefined && profileData.favouriteMusicGenre !== '' ) { %>
                                    value = "<%= profileData.favouriteMusicGenre %>"
                                <% } %>
                            >
                        </label>
                    </div>

                    <div class="tl-MyProfilePage__question">
                        <label>
                            <span>How much do you earn, on a yearly basis?</span>
                            <select name="yearlyEarns">
                                <option value="" selected="selected" disabled hidden>Select a value</option>
                                <option
                                    value="Less than 25K"
                                    <% if (profileData.yearlyEarns === "Less than 25K") { %>
                                        <%= selected="selected" %>
                                    <% } %>
                                >
                                    Less than 25K
                                </option>
                                <option
                                    value="25k-50k"
                                    <% if (profileData.yearlyEarns === "25k-50k") { %>
                                        <%= selected="selected" %>
                                    <% } %>
                                >
                                    25k-50k
                                </option>
                                <option
                                    value="More than 50k"
                                    <% if (profileData.yearlyEarns === "More than 50k") { %>
                                        <%= selected="selected" %>
                                    <% } %>
                                >
                                    More than 50k
                                </option>
                            </select>
                        </label>
                    </div>

                    <div class="tl-MyProfilePage__question">
                        <label>
                            <span>Where do you live?</span>
                            <input
                                type="text"
                                name="livesIn"
                                placeholder="Rotterdam, the Netherlands"
                                <% if (profileData.livesIn !== undefined && profileData.livesIn !== '' ) { %>
                                    value = "<%= profileData.livesIn %>"
                                <% } %>
                            >
                        </label>
                    </div>

                    <div class="tl-MyProfilePage__question">
                        <label>
                            <span>What is your job title?</span>
                            <input
                                type="text"
                                name="jobTitle"
                                placeholder="Architect"
                                <% if (profileData.jobTitle !== undefined && profileData.jobTitle !== '' ) { %>
                                    value = "<%= profileData.jobTitle %>"
                                <% } %>
                            >
                        </label>
                    </div>

                    <div class="tl-MyProfilePage__question">
                        <label>
                            <span>What is your length (in cm's)?</span>
                            <input
                                type="number"
                                name="lengthInCm"
                                placeholder="183"
                                <% if (profileData.lengthInCm !== undefined && profileData.lengthInCm !== '' ) { %>
                                    value = "<%= profileData.lengthInCm %>"
                                <% } %>
                            >
                        </label>
                    </div>
                </fieldset>

                <fieldset class="tl-MyProfilePage__subject">
                    <legend>General match settings</legend>

                    <div class="tl-MyProfilePage__question">
                        <label>
                            <span class="tl-RequiredFieldTitle">Is it necessary for your matches to like nature?</span>
                            <small>Not shown on your profile</small>
                            <select name="matchHasToLikeToBeInNature" required>
                                <option value="" selected="selected" disabled hidden>Select a value</option>
                                <option
                                    value="Yes"
                                    <% if (profileData.matchHasToLikeToBeInNature === "Yes") { %>
                                        <%= selected="selected" %>
                                    <% } %>
                                >
                                    Yes
                                </option>
                                <option
                                    value="No"
                                    <% if (profileData.matchHasToLikeToBeInNature === "No") { %>
                                        <%= selected="selected" %>
                                    <% } %>
                                >
                                    No
                                </option>
                            </select>
                        </label>
                    </div>

                    <div class="tl-MyProfilePage__question">
                        <label>
                            <span class="tl-RequiredFieldTitle">What is the maximum distance (in km's) your match may be away from you?</span>
                            <small>Not shown on your profile</small>
                            <input
                                type="number"
                                name="maxMatchDistance"
                                min="0"
                                required
                                placeholder="80"
                                <% if (profileData.maxMatchDistance !== undefined && profileData.maxMatchDistance !== '' ) { %>
                                    value = "<%= profileData.maxMatchDistance %>"
                                <% } %>
                            >
                        </label>
                    </div>

                    <div class="tl-MyProfilePage__question">
                        <label>
                            <span class="tl-RequiredFieldTitle">What are the minimum and maximum ages you want to include in your matchresults?</span>
                            <small>Not shown on your profile</small>
                            <input
                                type="number"
                                name="minSearchAge"
                                min="0"
                                required
                                placeholder="Minimum search age"
                                <% if (profileData.minSearchAge !== undefined && profileData.minSearchAge !== '' ) { %>
                                    value = "<%= profileData.minSearchAge %>"
                                <% } %>
                            >

                            <input
                                type="number"
                                name="maxSearchAge"
                                min="0"
                                required
                                placeholder="Maximum search age"
                                <% if (profileData.maxSearchAge !== undefined && profileData.maxSearchAge !== '' ) { %>
                                    value = "<%= profileData.maxSearchAge %>"
                                <% } %>
                            >
                        </label>
                    </div>
                </fieldset>

                <footer class="tl-MyProfilePage__form-footer">
                    <a href="/my_profile" class="tl-CTA-Button tl-CTA-Button--light">Cancel</a>
                    <button type="submit" class="tl-CTA-Button">Save</button>
                </footer>
            </form>

            <form action="/delete_account" method="POST">
                <button
                    type="submit"
                    class="tl-CTA-Button tl-CTA-Button--text tl-CTA-Button--danger"
                >
                    Delete account (WARNING: You cannot undo this)
                </button>
            </form>
        </main>
        <script src="/index.js"></script>
    </body>
</html>