<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/style.css">
        <title>Traveler App - My Profile</title>
    </head>

    <body>
        <header class="tl-PageHeader">
            <ol>
                <li>
                    <a href="/matches_overview">Back to matches</a>
                </li>
                <li>
                    <label class="tl-NavigationToggle">
                        <img src="/img/man-user.svg" alt="menu-toggle">
                        <input type="checkbox" name="menu-toggle" id="menu-toggle">
                    </label>
                </li>
            </ol>
        </header>

        <nav class="tl-Navigation" id="tl-Navigation">
            <ol>
                <li>
                    <a href="/matches_overview">Matches overview</a>
                </li>
                <li>
                    <a href="/chats">Chats</a>
                </li>
                <li>
                    <a href="/log_out">Log out</a>
                </li>
            </ol>
        </nav>

        <main class="tl-MyProfilePage">
            <section class="tl-Card tl-Card--MyProfileCard">
                <header class="tl-ProfileHeader">
                    <h1><%= profileData.fullName %> (<%= profileData.ownGender %>, <%= profileData.age %>)</h1>
                </header>

                <section class="tl-ImageSlider">
                    <% profileData.profileImages && profileData.profileImages.length && profileData.profileImages.forEach(function (image, i) { %>
                        <img src="<%= profileData.profileImages[i] %>" alt="My profile image">
                    <% }) %>
                </section>

                <% if (profileData.description) { %>
                    <section class="tl-ProfileDescription">
                        <h2 class="tl-ProfileDescription__title">About <%= profileData.firstName %></h2>
                        <p class="tl-ProfileDescription__value"><%= profileData.description %></p>
                    </section>
                <% } %>

                <section class="tl-FullProfileInformation">
                    <h2 class="tl-FullProfileInformation__title">My information</h2>
                    <ol class="tl-FullProfileInformation__content">
                        <li class="tl-Field">
                            <h3 class="tl-Field__title">Has traveled to</h3>
                            <span class="tl-Field__value">
                                <% profileData.hasTraveledTo && profileData.hasTraveledTo.forEach(function (destination, i) { %>
                                    <% if (i !== (profileData.hasTraveledTo.length - 1)) { %>
                                        <%= destination %>,&#32;
                                    <% } else { %>
                                        <%= destination %>
                                    <% } %>
                                <% }) %>
                            </span>
                        </li>
                        <li class="tl-Field">
                            <h3 class="tl-Field__title">Favourite holiday destination visisted</h3>
                            <span class="tl-Field__value"><%= profileData.favouriteHolidayDestination %></span>
                        </li>
                        <li class="tl-Field">
                            <h3 class="tl-Field__title">Favourite holiday type</h3>
                            <span class="tl-Field__value">
                                <% profileData.favouriteHolidayTypes && profileData.favouriteHolidayTypes.forEach(function (type, i) { %>
                                    <% if (i !== (profileData.favouriteHolidayTypes.length - 1)) { %>
                                        <%= type %>,&#32;
                                    <% } else { %>
                                        <%= type %>
                                    <% } %>
                                <% }) %>
                            </span>
                        </li>
                        <li class="tl-Field">
                            <h3 class="tl-Field__title">Plans holidays ahead</h3>
                            <span class="tl-Field__value"><%= profileData.plansHolidaysAhead %></span>
                        </li>
                        <li class="tl-Field">
                            <h3 class="tl-Field__title">Likes to hike</h3>
                            <span class="tl-Field__value"><%= profileData.likesToHike %></span>
                        </li>
                        <li class="tl-Field">
                            <h3 class="tl-Field__title">Likes to travel inter-continental more, than within the continent</h3>
                            <span class="tl-Field__value"><%= profileData.prefersInterContinental %></span>
                        </li>
                        <li class="tl-Field">
                            <h3 class="tl-Field__title">Destinations Henk wants to travel to in the near future</h3>
                            <span class="tl-Field__value">
                                <% profileData.wantsToVisitSoon && profileData.wantsToVisitSoon.forEach(function (destination, i) { %>
                                    <% if (i !== (profileData.wantsToVisitSoon.length - 1)) { %>
                                        <%= destination %>,&#32;
                                    <% } else { %>
                                        <%= destination %>
                                    <% } %>
                                <% }) %>
                            </span>
                        </li>
                        <li class="tl-Field">
                            <h3 class="tl-Field__title">Has visited this much holiday destinations</h3>
                            <span class="tl-Field__value"><%= profileData.hasVisitedThisMuchDestinations %></span>
                        </li>
                        <li class="tl-Field">
                            <h3 class="tl-Field__title">Favourite overall travel time (in weeks)</h3>
                            <span class="tl-Field__value"><%= profileData.favouriteOverallTravelTime %></span>
                        </li>
                        <li class="tl-Field">
                            <h3 class="tl-Field__title">Wants to travel as soon as possible</h3>
                            <span class="tl-Field__value"><%= profileData.wantsToTravelQuickly %></span>
                        </li>
                        <li class="tl-Field">
                            <h3 class="tl-Field__title">Wants to marry</h3>
                            <span class="tl-Field__value"><%= profileData.wantsToMarry %></span>
                        </li>
                        <li class="tl-Field">
                            <h3 class="tl-Field__title">Foremost relationship motivation</h3>
                            <span class="tl-Field__value"><%= profileData.foremostRelationshipMotivation %></span>
                        </li>
                        <li class="tl-Field">
                            <h3 class="tl-Field__title">Wants to, or does already, have children</h3>
                            <span class="tl-Field__value"><%= profileData.wantsToOrAlreadyHasChildren %></span>
                        </li>
                        <li class="tl-Field">
                            <h3 class="tl-Field__title">Drinks alcohol</h3>
                            <span class="tl-Field__value"><%= profileData.drinksAlcohol %></span>
                        </li>
                        <li class="tl-Field">
                            <h3 class="tl-Field__title">Smokes</h3>
                            <span class="tl-Field__value"><%= profileData.smokes %></span>
                        </li>
                        <li class="tl-Field">
                            <h3 class="tl-Field__title">Likes to be in nature</h3>
                            <span class="tl-Field__value"><%= profileData.likesToBeInNature %></span>
                        </li>
                        <li class="tl-Field">
                            <h3 class="tl-Field__title">Finds this most important in a relation</h3>
                            <span class="tl-Field__value"><%= profileData.mostImportantInRelationShip %></span>
                        </li>
                        <li class="tl-Field">
                            <h3 class="tl-Field__title">Favourite music genre</h3>
                            <span class="tl-Field__value"><%= profileData.favouriteMusicGenre %></span>
                        </li>
                        <li class="tl-Field">
                            <h3 class="tl-Field__title">Yearly earns</h3>
                            <span class="tl-Field__value"><%= profileData.yearlyEarns %></span>
                        </li>
                        <li class="tl-Field">
                            <h3 class="tl-Field__title">Lives in</h3>
                            <span class="tl-Field__value"><%= profileData.livesIn %></span>
                        </li>
                        <li class="tl-Field">
                            <h3 class="tl-Field__title">Job title</h3>
                            <span class="tl-Field__value"><%= profileData.jobTitle %></span>
                        </li>
                        <li class="tl-Field">
                            <h3 class="tl-Field__title">Length (in cm's)</h3>
                            <span class="tl-Field__value"><%= profileData.lengthInCm %></span>
                        </li>
                    </ol>
                </section>

                <footer>
                    <a href="/my_profile/edit" class="tl-CTA-Button">
                        Edit Profile
                    </a>
                </footer>
            </section>
        </main>
        <script src="/index.js"></script>
    </body>
</html>